html, body {
	margin: 0;
	padding: 0;
	
}
header, content {
	font-family: mv boli;
}
header {
	background-color: #240935;
}
.header-inner {
		width: 1170px;
    	margin: auto auto;
}
.nav {
	align-items: center;
	display: flex;
}
.about li {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 24px;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}
.logo {
	margin-left: 80px;
	margin: 20px;
	width: 100px;
	height: 100px;
}
.content-inner {
	background:url(https://krot.info/uploads/posts/2021-01/1611772367_16-p-krasivie-pikselnie-foni-23.png) no-repeat center top / cover;
	padding: 100px;
}
.content-inner h1{
	margin-top:0;
}
.part-1 {
	background-color:rgba(255,255,255,0.8);
	padding: 10px;
	width: 500px;
	border-right: outset 3px #443659;
	border-bottom: outset 3px #443659;
	border-left: outset 3px #5c4978;
	border-top: outset 3px #5c4978;
}
.button-part-1 {
	outline: none;
	cursor: pointer;
	background-color: #785394;
	color: white;
	font-family: mv boli;
	margin-left: 30px;
	width: 100px;
}
.part-2 {
	margin-top: 20px;
	background-color:rgba(255,255,255,0.8);
	padding: 10px;
	width: 500px;
	border-right: outset 3px #443659;
	border-bottom: outset 3px #443659;
	border-left: outset 3px #5c4978;
	border-top: outset 3px #5c4978;
}
.input-part-2 {
	width: 200px;
}
.button-part-2 {
	outline: none;
	cursor: pointer;
	background-color: #785394;
	color: white;
	font-family: mv boli;
	margin-left: 30px;
	width: 100px;
}
footer {
	background: #151414;
	min-height: 50px;
  	position: relative;
  	text-align: center;
}
.copyright-text p {
  	margin: 0;
  	padding-top:20px;
  	font-size: 14px;
  	color: #878787;
}